<html>
    <meta charset="UTF-8">
    <head>
        <title>Sport Lottery Tool</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
    </style>
    <body>
    <div id="app">
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Betting Record</h3>
                <el-form :model="form" label-width="200px">
                    <el-form-item label="type">
                        <el-select v-model="form.type">
                            <el-option value="basketball" label="basketball"></el-option>
                            <el-option value="baseball" label="baseball"></el-option>
                            <el-option value="hockey" label="hockey"></el-option>
                            <el-option value="soccer" label="soccer"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="away team betting rate">
                        <el-input v-model="form.awayBettingRate" @change="onBettingRateChange(form.awayBettingRate, 'homeBettingRate')" type="number"></el-input>
                    </el-form-item>
                    <el-form-item label="home team betting rate">
                        <el-input v-model="form.homeBettingRate" @change="onBettingRateChange(form.homeBettingRate, 'awayBettingRate')" type="number"></el-input>
                    </el-form-item>
                </el-form>
                <el-divider></el-divider>
                <h3>Setting</h3>
                <el-form :model="setting" label-width="100px">
                    <el-form-item label="url">
                        <el-input v-model="setting.publicBettingURL"></el-input>
                    </el-form-item>
                    <el-form-item label="GTM">
                        <el-input v-model="setting.gmt" type="number"></el-input>
                    </el-form-item>
                </el-form>
                <el-divider></el-divider>
                <h3>Public betting api</h3>
                <el-form :model="publicBetting" label-width="100px">
                    <el-form-item label="type">
                        <el-select v-model="publicBetting.type" placeholder="Type of sport" clearable>
                            <el-option label="NBA" value="nba"></el-option>
                            <el-option label="NHL" value="nhl"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="date">
                        <el-date-picker
                                value-format="yyyyMMdd"
                                v-model="publicBetting.date"
                                type="date"
                                placeholder="pick date">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="">
                        <el-button type="success" @click="searchPublic">Search</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
    <script src="plugins/vue.js"></script>
    <script src="plugins/element.min.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script src="plugins/axios.min.js"></script>
    <script type="text/javascript">
        let setting = {
            publicBettingURL: null,
            gmt: -5,
        };

        function getVueWatch() {
            let watchObject = {};
            Object.keys(setting).forEach(key => {
                watchObject['setting.' + key] = function () {
                    localStorage.setItem('setting', JSON.stringify(this.setting));
                }
            });

            return watchObject;
        }

        new Vue({
            el: '#app',
            data() {
                let storageSetting = JSON.parse(localStorage.getItem('setting'));
                let userSetting = (storageSetting) ? this.fixEmptyFormProperty(storageSetting, setting) : setting;

                return {
                    form: {
                        type: [],
                        awayBettingRate: null,
                        homeBettingRate: null,
                    },
                    setting: userSetting,
                    publicBetting: {
                        type: null,
                        date: moment().add(userSetting.gmt - 8, 'hours').format('yyyyMMDD'),
                    },
                };
            },
            methods: {
                onBettingRateChange(value, modifyTarget) {
                    if (value) {
                        this.form[modifyTarget] = 100 - value;
                    }
                },
                fixEmptyFormProperty(storageForm, originForm) {
                    Object.keys(originForm).forEach(originKey => {
                        if (storageForm[originKey] === undefined) {
                            storageForm[originKey] = originForm[originKey];
                        }
                    });

                    return storageForm;
                },
                searchPublic() {
                },
            },
            watch: getVueWatch(),
        })
    </script>
    </body>
</html>
