<html>
    <meta charset="UTF-8">
    <head>
        <title>Sport Lottery Tool</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
    </style>
    <body>
    <div id="app">
        <el-row>
            <el-col :span="12" :offset="6">
                <h3>Betting Record</h3>
                <el-form :model="form" label-width="200px">
                    <el-form-item label="type">
                        <el-select v-model="form.type">
                            <el-option value="basketball" label="basketball"></el-option>
                            <el-option value="baseball" label="baseball"></el-option>
                            <el-option value="hockey" label="hockey"></el-option>
                            <el-option value="soccer" label="soccer"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="away team betting rate">
                        <el-input v-model="form.awayBettingRate" @change="onBettingRateChange(form.awayBettingRate, 'homeBettingRate')" type="number"></el-input>
                    </el-form-item>
                    <el-form-item label="home team betting rate">
                        <el-input v-model="form.homeBettingRate" @change="onBettingRateChange(form.homeBettingRate, 'awayBettingRate')" type="number"></el-input>
                    </el-form-item>
                </el-form>
                <el-divider></el-divider>
                <h3>Setting</h3>
                <el-form :model="setting" label-width="100px">
                    <el-form-item label="url">
                        <el-input v-model="setting.publicBettingURL"></el-input>
                    </el-form-item>
                    <el-form-item label="GTM">
                        <el-input v-model="setting.gmt" type="number"></el-input>
                    </el-form-item>
                </el-form>
                <el-divider></el-divider>
                <h3>Public betting api</h3>
                <el-form :model="publicBetting" label-width="100px">
                    <el-form-item label="type">
                        <el-select v-model="publicBetting.type" placeholder="Type of sport" clearable>
                            <el-option label="NBA" value="nba"></el-option>
                            <el-option label="NHL" value="nhl"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="date">
                        <el-date-picker
                                value-format="yyyyMMdd"
                                v-model="publicBetting.date"
                                type="date"
                                placeholder="pick date">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="">
                        <el-button type="success" @click="searchPublic">Search</el-button>
                    </el-form-item>
                </el-form>
                <el-divider></el-divider>
                <h3>Public betting result</h3>
                <el-form label-width="100px">
                    <el-form-item label="League">
                        <div>{{ (publicBettingResult.league) ? publicBettingResult.league : '-' }}</div>
                    </el-form-item>
                    <el-form-item label="League">
                        <el-table :data="publicBettingResult.games" style="width: 100%">
                            <el-table-column>
                                <template slot="header" slot-scope="data">
                                    <div>Bet nums</div>
                                    <div>Over / Under</div>
                                </template>
                                <template slot-scope="data">
                                    <div>
                                        bets: {{ (data.row.numBets) ? data.row.numBets : '-' }}
                                    </div>
                                    <div>
                                        Public: {{ data.row.totalOverPercentage }} / {{ data.row.totalUnderPercentage }}
                                    </div>
                                    <div>
                                        Money: {{ data.row.totalOverMoneyPercentage }} / {{ data.row.totalUnderMoneyPercentage }}
                                    </div>
                                </template>
                            </el-table-column>
                            <template v-for="(setting, prefix) in {
                                away: {
                                    label: 'Away team',
                                    teamName: 'awayTeamName',
                                    spreadPercentage: 'awaySpreadPercentage',
                                    spreadMoneyPercentage: 'awaySpreadMoneyPercentage',
                                },
                                home: {
                                    label: 'Home team',
                                    teamName: 'homeTeamName',
                                    spreadPercentage: 'homeSpreadPercentage',
                                    spreadMoneyPercentage: 'homeSpreadMoneyPercentage',
                                }
                            }">
                                <el-table-column :label="setting.label">
                                    <template slot-scope="data">
                                        <div>{{ (data.row[setting.teamName]) ? data.row[setting.teamName] : 'Team name error' }}</div>
                                        <div>spread: {{ data.row[setting.spreadPercentage] }} %</div>
                                        <div>spread money: {{ data.row[setting.spreadMoneyPercentage] }} %</div>
                                    </template>
                                </el-table-column>
                            </template>
                        </el-table>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
    <script src="plugins/vue.js"></script>
    <script src="plugins/element.min.js"></script>
    <script src="plugins/moment.min.js"></script>
    <script src="plugins/axios.min.js"></script>
    <script type="text/javascript">
        let setting = {
            publicBettingURL: null,
            gmt: -5,
        };

        function getVueWatch() {
            let watchObject = {};
            Object.keys(setting).forEach(key => {
                watchObject['setting.' + key] = function () {
                    localStorage.setItem('setting', JSON.stringify(this.setting));
                }
            });

            return watchObject;
        }

        new Vue({
            el: '#app',
            data() {
                let storageSetting = JSON.parse(localStorage.getItem('setting'));
                let userSetting = (storageSetting) ? this.fixEmptyFormProperty(storageSetting, setting) : setting;

                return {
                    form: {
                        type: [],
                        awayBettingRate: null,
                        homeBettingRate: null,
                    },
                    setting: userSetting,
                    publicBetting: {
                        type: 'nba',
                        date: moment().add(userSetting.gmt - 8, 'hours').format('yyyyMMDD'),
                    },
                    publicBettingResult: {
                        league: null,
                        games: [],
                    },
                };
            },
            methods: {
                onBettingRateChange(value, modifyTarget) {
                    if (value) {
                        this.form[modifyTarget] = 100 - value;
                    }
                },
                fixEmptyFormProperty(storageForm, originForm) {
                    Object.keys(originForm).forEach(originKey => {
                        if (storageForm[originKey] === undefined) {
                            storageForm[originKey] = originForm[originKey];
                        }
                    });

                    return storageForm;
                },
                searchPublic() {
                    axios.get(this.setting.publicBettingURL + this.publicBetting.type + '?date=' + this.publicBetting.date).
                    then((response) => {
                        this.parsePublicBetting(response.data);
                    }).catch((error) => {
                        console.log('search public api error');
                        console.log(error);
                    });
                },
                parsePublicBetting(response) {
                    console.log('parsePublicBetting');
                    this.publicBettingResult.league = response.league.name;
                    this.publicBettingResult.games = response.games.map(game => {
                        let awayTeam = game.teams.find(team => team.id === game.away_team_id);
                        let homeTeam = game.teams.find(team => team.id === game.home_team_id);
                        if (awayTeam) {
                            game.awayTeamName = awayTeam.full_name;
                        }

                        if (homeTeam) {
                            game.homeTeamName = homeTeam.full_name;
                        }


                        if (game.odds && game.odds.length) {
                            let lastOdd = game.odds[0];
                            game.numBets = lastOdd.num_bets;
                            game.awaySpreadPercentage = lastOdd.spread_away_public;
                            game.awaySpreadMoneyPercentage = lastOdd.spread_away_money;
                            game.homeSpreadPercentage = lastOdd.spread_home_public;
                            game.homeSpreadMoneyPercentage = lastOdd.spread_away_public;
                            game.totalOverPercentage = lastOdd.total_over_public;
                            game.totalOverMoneyPercentage = lastOdd.total_over_money;
                            game.totalUnderPercentage = lastOdd.total_under_public;
                            game.totalUnderMoneyPercentage = lastOdd.total_under_money;
                        }

                        return game;
                    });
                },
            },
            watch: getVueWatch(),
        })
    </script>
    </body>
</html>
